.sliderTrackContainer--carousel-promotions {
  margin-bottom: 28px;
}

/* .sliderTrackContainer--carousel__main--images{
  max-width: 1440px;
} */

/* @media screen and (min-width: 1440px){
  .sliderTrackContainer--carousel__main--images{
    margin: 0 auto;
  }
} */