.imageElement--container-image {
  border-radius: 20px;
}
.imageElement--carousel-promotions {
  border-radius: 20px;
  max-width: 90%;
}
.imageElement--carousel {
  width: 186% !important;
}

.imageElement--carousel__main--images--mobile {
  width: 286px;
  height: 180px;
}

.imageElement--carousel-mobile {


  height: 104px;
  width: 100px;
  margin-top: 5px;


}


.container--description__mobile
  :global(.vtex-store-components-3-x-pointerEventsNone) {
  display: none;
}

.productDescriptionText--description__mobile {
  color: #999;
  font-weight: 600;
  height: 90px;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: hidden;
  overflow-y: scroll;
  padding-left: 15px;
  white-space: pre-line;

}

.infoCardCallActionContainer--info-card-home-sullmobile{

  margin-left:30%;
  margin-top: 0px;
  padding-top: 10px;
  width: 100PX;

}



.infoCardContainer--info-card-home-sullmobile {

  width: 100%;





@media screen and (min-width: 1026px){
  .imageElement--icons__socialmedia{
    width: 30px;
    height: 30px;
  }

  .imageElement--icons__socialmedia {
    transition: all 0.3s ease-in-out;
  }
  .imageElement--icons__socialmedia:hover {
    filter: brightness(1.5)
  }
}
}
